[Desktop Entry]
Type=Application
Name=Atropa
Comment=System control center for Arch Linux
Exec=atropa
Icon=preferences-system
Terminal=false
Categories=Settings;System;
StartupNotify=true
